@using Microsoft.AspNetCore.Identity
@*@model IEnumerable<Assignment>*@
@model List<Assignment>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Ledige ture";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";

    int thisUserId = Int32.Parse(UserManager.GetUserId(User));
}

<h1 class="mb-4">Ledige Ture</h1>

<div class="tab-content">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br />
        <div class="row">
            <div class="col-12">
                @foreach (var assignment in Model)
                {
                    string cardHeader = $"{assignment.StartTime.ToString("HH:mm")} Længde {assignment.Duration}T";
                    string startDateDay = char.ToUpper(assignment.StartDate.ToString("dddd")[0]) + assignment.StartDate.ToString("dddd").Substring(1);
                    string wholeDate = assignment.StartDate.ToString("M");

                    <a asp-action="Details" asp-route-Id="@assignment.AssignmentId">
                        <div class="tripCardActive">
                            <div>
                                <h2>@cardHeader</h2>
                            </div>
                            <div>
                                <p>@assignment.CountryCodeStart - @assignment.CountryCodeEnd</p>
                            </div>
                            <div>
                                <h3>@startDateDay, @wholeDate</h3>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>