@using Microsoft.AspNetCore.Identity
@model Assignment

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "_SubSubpageLayout";
    int thisUserId = Int32.Parse(UserManager.GetUserId(User));
}

<div class="tripCardActive">
    @{
        string cardHeader = $"Start {Model.StartTime.ToString("HH:mm")}";
    }
    <h2>@cardHeader</h2>
    <p>@Model.CountryCodeStart - @Model.CountryCodeEnd</p>
    <h3>@Model.Duration timer</h3>
</div>

<div class="tripDetails infoBox">
    <h5><strong>Information om tur</strong></h5>
    <p>@Model.Description</p>
</div>

<div class="details infoBox">
    <p>Detaljer</p>

    <div class="workTime infoBoxGrid2">
        <p><span class="fas fa-clock fa-2x assgnmt-details-icon-fix"></span> Kørselstid</p>

        <a>@Model.Duration timer</a>
    </div>

    @if (Model.Urgent == true)
    {
        <hr class="lineSeperator" />
        <div class="break infoBoxGrid2">
            <p><span class="fas fa-exclamation fa-2x assgnmt-details-icon-fix"></span> Hastetur</p>
            <p>Ja</p>
        </div>
    }

    @if (Model.AllDay == true)
    {
        <hr class="lineSeperator" />
        <div class="break infoBoxGrid2">
            <p><span class="fas fa-calendar-day fa-2x assgnmt-details-icon-fix"></span> Heldagstur</p>
            <p>Ja</p>
        </div>
    }
</div>


<div class="pickupLocation infoBox">
    <p>Lokation</p>
    <p><span class="fas fa-map-marker-alt fa-2x"></span> Denmark</p>
    <p>Alex Andersen transport, Logistikvej 25a, 5250 Odense</p>
    <a href="https://goo.gl/maps/iFDTGi5d8FkSmDR3A" target="_blank">Find lokation</a>
</div>


<div class="contactInfo infoBox">
    <p>Kontakt info</p>
    <div class="phoneNumber ">
        <p><span class="fas fa-phone fa-2x"></span><a href="tel:+4566188197">+45 66 18 81 97</a></p>
    </div>
    <hr class="lineSeperator" />
    <div class="contactMail ">
        <p><span class="fas fa-envelope fa-2x"></span> <a href="mailto: abc@example.com">info@alex-andersen.dk</a></p>
    </div>
</div>

@if (Model.Available == true)
{
    <div class="requestTrip text-center infoBox">
        <form method="post" asp-action="RequestTrip">
            <input type="hidden" asp-for="AssignmentId" />
            <input type="hidden" asp-for="StartDate" />
            <input type="hidden" asp-for="EndDate" />
            <input type="hidden" asp-for="StartTime" />
            <input type="hidden" asp-for="Urgent" />
            <input type="hidden" asp-for="AllDay" />
            <input type="hidden" asp-for="Duration" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="CountryCodeStart" />
            <input type="hidden" asp-for="CountryCodeEnd" />
            <input type="hidden" asp-for="Available" />
            <input type="hidden" asp-for="StatusId" />
            <input type="hidden" asp-for="StartCityId" />
            <input type="hidden" asp-for="ContactUserId" />
            <input type="hidden" asp-for="ReplacementUserId" />
            <input type="hidden" asp-for="DriverUserId" />

            <input type="hidden" asp-for="DriverUser" />
            <input type="hidden" asp-for="ContactUser" />
            <input type="hidden" asp-for="ReplacementUser" />
            <input type="hidden" asp-for="StartCity" />
            <input type="hidden" asp-for="Status" />

            <button type="submit" class="btn btn-lg btn-success">
                Anmod om tur
            </button>
        </form>
    </div>
}
else if (Model.DriverUserId == thisUserId)
{
    <div class="cancelTrip infoBox">
        <button type="button" data-toggle="modal" data-target="#exampleModal">
            Afmeld tur
        </button>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body flex-colum text-center">
                <h2>Afmeld tur</h2>
                <p>For at afmelde din tur skal du ring for at afmelde turen på telefon nr</p>
                <a href="tel:+4566188197">+45 66 18 81 97</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
