@model webdev_semester_1.Models.ChauffeurInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChauffeurInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenseExperationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenseExperationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenseImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenseImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckLicenseExperationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckLicenseExperationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckLicenseImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckLicenseImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EuQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EuQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EuQualificationExperationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EuQualificationExperationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChauffeurInfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
