@model IEnumerable<webdev_semester_1.Models.ChauffeurInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenseExperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenseImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckLicenseExperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckLicenseImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EuQualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EuQualificationExperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicenseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicenseExperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicenseImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckLicenseExperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckLicenseImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EuQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EuQualificationExperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChauffeurInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChauffeurInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChauffeurInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
