@model IEnumerable<webdev_semester_1.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCodeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCodeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chauffeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacementUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCodeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chauffeur.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacementUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartCity.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
