@model IEnumerable<webdev_semester_1.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}
<div class="h-full">

    <!-- Back to home page -->
    <a class="pageback" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i></a>

    <h1>My trips</h1>


    <div class="row">

        <div class="col-12 mt-3">
            @foreach (var item in Model)
            {
                if (item.ChauffeurId == 2)
                {
                    DateTime TripStart = item.StartDate;
                    string StartMonthName = TripStart.ToString("MMMM");
                    string StartDayName = TripStart.ToString("dddd");
                    string StartDate = TripStart.ToString().Substring(0, 2);

                    string StartTime = item.StartTime.ToString().Substring(10, 6);

                    <div class="trip-card">
                        <h1>@StartDayName, @StartDate. @StartMonthName</h1>
                        <p>kl. @StartTime</p>
                        <p>Varighed: @Html.DisplayFor(modelItem => item.Duration) timer</p>
                    </div>


                    @*<td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Urgent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryCodeStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryCodeEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chauffeur.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplacementUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartCity.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                        </td>*@
                }
            }
        </div>

    </div>
</div>