@using Microsoft.AspNetCore.Identity
@model List<webdev_semester_1.ViewModels.UserMessageVM>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Beskeder";
    Layout = "_SubpageLayout";
}

<style>
    ul.messages {
        list-style: none;
    }

        ul.messages li {
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
            background-color: #FFF;
            padding: 2px 4px;

            border: 2px solid #CCC;
            border-radius: 5px;
        }

    .unread {
        /*background-color: #DDD !important;*/
        border: 2px solid #00904A !important;
    }

        .unread h4, .unread p {
            /*background-color: red !important;*/
            font-weight: bold;
        }
</style>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="m-0">Beskeder</h1>
    <a asp-action="Send" class="btn btn-primary"><i class="fas fa-envelope p-0"></i> Ny besked</a>
</div>


@if (ViewBag.Result == true)
{
    <div class="alert alert-success" role="alert">
        Besked sendt!
    </div>
}

@if (Model.Count() > 0)
{
    <ul class="messages">
        @foreach (var message in Model)
        {
            string unread = message.Read == false ? "unread" : "";

            int maxMessageLength = 20;
            string truncatedMessage =
                message.MessageText.Length <= maxMessageLength ? 
                message.MessageText : 
                message.MessageText.Substring(0, maxMessageLength).Insert(maxMessageLength, " ...");


            <li class="d-block @unread">
                <a asp-action="Message" asp-route-id="@message.MessageId">
                    <div class="message-header">
                        <h4 class="mb-0">@message.FirstName @message.LastName</h4>
                    </div>

                    <div class="message-body">
                        <p class="m-0 p-0">@truncatedMessage</p>
                    </div>
                </a>
            </li>
        }
    </ul>
}
else
{
    <h3>Ingen beskeder.</h3>
}
